<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{general/fragmentos :: head}"></head>
<body class="d-flex flex-column min-vh-100"><header th:replace="~{general/fragmentos :: header}"></header>
<main class="container flex-grow-1 py-4"><section th:replace="~{categoria/fragmentos :: editar}"></section></main>
<section th:replace="~{general/fragmentos :: mostrarToast}"></section><footer th:replace="~{general/fragmentos :: footer}"></footer></body></html>
