<!DOCTYPE html>
<!--
primera pagina html 
-->
<html>
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
            <h1>Su tienda en linea de confianza</h1>
            <nav>
                
            </nav>  
        </header> 
        <aside>
            <h2>Venta Loca</h2>
            <p>venga este fiin de semana y adquiera pantallas TCL de 85" en 230.000</p>
        </aside>
        <section>
          <h2>El producto mas vendido</h2>   
            <p>En estos 15 dias, hemos vendido una cantidad impresionante de pantallas TCL,venga por una ....</p>
            
        </section>    
        <footer>
            
            
        </footer>   
        
    </body>
</html>
